.titulo {
    color: white;
    filter: drop-shadow(0 0 6px var(--color1));
  }

  .imgError {
    border-radius: 50%;
    height: 20em;
    margin-bottom: 2em;
  }

  #volverAInicio:hover {
    color: var(--color1);
  }