:root {
    --color1: #272838;
    --color2: #0081a7;
    --color3: #00afb9;
    --color4: #d5c9df;
    --color5: #eeb902;
    --color6: #d96c06;
  }

.titulo{
    color: white;
    margin-left: auto;
    filter: drop-shadow(0 0 6px var(--color1));

}

th, td {
    text-align: center;
}

tr:hover{
    background-color: var(--color6);
}
.sombra {
    
    width: 75%;
    max-width: 300px;
    filter: drop-shadow(0 0 8px var(--color1));
  }