:root {
    --color1: #272838;
    --color2: #0081a7;
    --color3: #00afb9;
    --color4: #d5c9df;
    --color5: #eeb902;
    --color6: #d96c06;
  }

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #D5C9DF;
}

.mainSection {
    flex-grow: 1;
}

#bannerIndex {
    height: 250px;
    object-fit: cover;
}

.seccionInfoRestaurante {
    background: #272838e0;
}

.cardProducto {
    transition: ease 0.2s;
}

.cardProducto:hover {
    scale: 1.05;
    transition: ease 0.2s;
}

.btnCard {
    background-color: #EEB902;
    border: none;
}

.btnCard:hover {
    background-color: #c59a00;
}

.btnCard:active {
    background-color: #D96C06 !important;
}

.btnAgregarAlPedido {
    position: absolute;
    border-radius: 50%;
    height: 3.3rem;
    width: 3.3rem;
    bottom: 0.75rem;
    right: 0.75rem;
    box-shadow: 0px 0px 10px black;
}

.btnTablas {
    background-color: var(--color6);
    border: none;
}

.btnTablas:hover {
    background-color: #d3ab1c !important;

}

.btnTablasSelected {
    background-color: var(--color5) !important
}

#input-categorias{
    background: #fff !important;
    color: #333;
    border: 1px solid #aaa
}

#logoIndex{
    width: 100%;
    max-width: 500px;
    filter: drop-shadow(0 0 10px black);
}

.btnLogout:hover{
    background: none;
}
.btnLogout:active{
    background: none !important;
}